# Force LF line endings for all scripts and source files used in Docker
*.sh text eol=lf
*.go text eol=lf
*.py text eol=lf
*.js text eol=lf
*.json text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
